
.provisional.gc-followus .github::before,
.provisional.gc-followus .slack::before {
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 38px;
  margin-right: 10px;
  min-width: 38px;
}

.provisional.gc-followus .github::before {
  background-image: url(../img/gc-follow-us/github.svg)
}

.provisional.gc-followus .slack::before {
  background-image: url(../img/gc-follow-us/slack.svg)
}